* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --nav-color: #d71e28;
}

/* here is global nav */

.header {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.header-nav {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: var(--nav-color);
}

/* here logo of header-nav  */

.header-logo > a > img {
  height: 80px;
  cursor: pointer;
}

/* -home-service-etc  */

.header-menu {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu > ul {
  display: inline-flex;
  align-items: center;
}

.header-menu > ul > li {
  margin-right: 25px;
  transition: 0.8s;
}

.header-menu > ul > li:last-child {
  margin-right: 2px;
}

.header-menu > ul > li > a {
  color: #fff;
  font-size: 16px;
  padding: 25px 0;
}

.sub-menu {
  position: absolute;
  margin-top: 20px;
  display: none;
  background-color: var(--color-txt-1);
  padding: 10px 15px;
  font-size: 14px;
  z-index: 1000;
  line-height: 2;
  border-radius: 3px;
  left: 40%;
  transition: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.sub-menu-car {
  width: 25%;
  left: 55%;
  transition: 0.8s;
}

.sub-menu-blog {
  left: 70%;
  transition: 0.8s;
}

.sub-menu > div {
  display: inline-flex;
}

.sub-menu > div > ul > li > a {
  color: var(--color-black);
  padding: 0 10px;
}

.sub-menu > div > ul > li > a:hover {
  color: var(--nav-color);
}

.header-menu > ul > li:hover .sub-menu {
  display: block;
  position: absolute;
}

/* here this div use for calling  */

.number {
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  border: 2.5px solid var(--color-txt-1);
  box-sizing: border-box;
  border-radius: 40px;
  background-color: var(--nav-color);
  color: var(--color-txt-1);
  font-size: 16px;
  transition: 0.3s;
}

.number > p > i {
  margin-right: 10px;
  font-size: 18px;
}

.number:hover {
  background-color: var(--color-txt-1);
  color: var(--nav-color);
  border: 2.5px solid var(--color-txt-1);
}

@media screen and (max-width: 1300px) {
  /* .header-menu {
    width: 59%;
  } */
  .sub-menu {
    left: 30%;
  }
  .sub-menu-car {
    left: 50%;
  }
  .sub-menu-blog {
    left: 60%;
  }
}

@media screen and (max-width: 1250px) {
  .header-menu {
    width: 63%;
  }
  .header-menu > ul > li > a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1150px) {
  .header-menu {
    width: 68%;
  }
  .sub-menu {
    left: 20%;
  }
  .sub-menu-car {
    left: 40%;
  }
  .sub-menu-blog {
    left: 60%;
  }
}

@media screen and (max-width: 1060px) {
  .header-nav {
    padding: 0 2%;
  }
  .header-menu {
    width: 70%;
  }
}

.border-div {
  background-color: #fcc60a;
  width: 100%;
  height: 4px;
}

.search-div {
  background-color: #fff;
  display: inline-flex;
  justify-content: space-between;
  padding: 7px 12px;
  border-radius: 4px;
  width: 100px;
}

.search-div > input {
  border: none;
  outline: none;
  width: 70%;
  font-size: 14px;
}
.search-div > input::placeholder {
  font-size: 14px;
}

.search-div > img {
  height: 20px;
}
main {
  position: relative;
  width: 100%;
  height: 95vh;
}
.img-absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 95vh;
  width: 100%;
}
.img-absolute > img {
  width: 100%;
  height: 100%;
}
.hi {
  background-color: #00000052;
}
.form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #fff;
  border-radius: 10px;
  z-index: 200;
}
.form-div-child {
  padding: 5% 25%;
}
.form-div-child > p:first-child {
  text-align: center;
  font-size: 24px;
  margin-bottom: 2%;
  font-weight: 500;
}

.form-div-child > p:nth-child(2) {
  text-align: center;
  font-size: 16px;
  margin-bottom: 2%;
}
.form-div-child > div {
  text-align: center;
}

.form-div-child > div> input {
  width: 100%;
  margin: 7% 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #00000052;
}

.form-div-child > div > input::placeholder {
  font-size: 20px;
}
.select-div > input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px;
}
.select-div {
  text-align: left;
  padding: 2% 0 6% 0;
  display: flex;
  align-items: center;
}
.select-div > span {
  margin-left: 7px;
}
.form-div-child > div > button {
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: var(--nav-color);
  color: #fff;
  font-size: 16px;
  padding: 8px 35px;
  margin-top: 4%;
  opacity: 0.6;
  cursor: pointer;
}
.form-div-child > div > button:hover {
  opacity: 1;
}

.form-div-bottom {
  padding: 4% 15%;
  text-align: center;
  background-color: #f4f0ed;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.form-div-bottom > a {
  color: #000;
  text-decoration: underline;
  font-size: 14px;
}

